body {
  margin: 0;
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#media-container {
  margin: 20px;
}

#media-image,
#media-video {
  width: 512px;
  height: 512px;
  margin: 10px;
}

#description-container {
  width: 512px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left; /* Align text to the left */
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
